/* from-upload */

.from-upload {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px dashed #95aac9;
    border-radius: 0.375rem;
    text-align: center;
    color: #95aac9;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
    line-height: 172px;
    background-color: #f6f6f6;
}

.from-upload:hover {
    border-color: #5d78ff;
    color: #5d78ff;
}

.from-upload input[type="file"] {
    position: absolute;
    z-index: -9999;
    height: 0px;
    width: 0px;
    padding: 0px;
    margin: 0px;
    line-height: 0;
    outline: currentcolor none 0px;
    border: 0px none;
    opacity: 0;
}

.from-upload .preview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.375rem;
    z-index: 1;
    background-size: cover;
}

.from-upload .progress-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.from-upload .progress-panel .file-progress-bar {
    width: 0%;
    height: 100%;
    background: rgba(104, 125, 219, 0.08);
    box-shadow: none;
}

.from-upload .progress-panel span {
    position: absolute;
    right: 16px;
    color: rgba(151, 159, 184, 0.2);
    font-size: 28px;
    top: 26%;
    transform: translateY(-50%);
    z-index: 1;
}

.from-upload .uploader-input {
    padding: 10px;
    width: 100%;
    height: 100%;
    position: relative;
}

.from-upload:hover .bf {
    position: relative;
    z-index: 4;
}

.type-icon {
    font-size: 1.5em;
}