p {
    margin: 0;
}

.main-area {
    -webkit-transition: 0.7s cubic-bezier(0.17, 0.67, 0, 1.01);
    -o-transition: 0.7s cubic-bezier(0.17, 0.67, 0, 1.01);
    transition: 0.7s cubic-bezier(0.17, 0.67, 0, 1.01);
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.content {
    height: 100%;
}

.content .section-heading {
    padding-left: 440px;
    width: 100%;
    position: relative;
    top: -8%;
    padding-right: 40px;
}

.content .section-heading .section-title {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: #3a8ffe;
    font-size: 4rem;
    background-image: -webkit-gradient( linear, 0 0, 0 bottom, from(#3a8ffe), to(#95eaff));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content .section-heading p {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
}

.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 70px;
    height: 70px;
    display: block;
    margin: 10px 20px;
}

@media (max-width: 600px) {
    .content {
        display: none;
    }
}